
/* disqus ? */
#respond {
  background: #ffffff;
  margin-top: 35px;
  margin-bottom: 45px;
  border-radius: 5px;
  border-top: solid 1px #c6bcad;
  border-left: solid 1px #c6bcad;
  border-bottom: solid 2px #c6bcad;
  border-right: solid 2px #c6bcad;
}
#dsq1 {
  padding: 40px;
  margin-top: 35px;
  margin-bottom: 45px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-top: solid 1px #c6bcad !important;
  border-right: solid 2px #c6bcad !important;
  border-bottom: solid 2px #c6bcad !important;
  border-left: solid 1px #c6bcad !important;
  border-radius: 5px;
  background: #fffdfb;
}