

.header-top {
	background: $headerBackground;
	//min-height: 120px;
	@if($headerBackgroundImage) {
		background: $headerBackgroundImageAndColor;
		//min-height: image-height($headerBackgroundImage);
	}
	.logo-search-parent {
		margin-bottom: 2px;
		@if($headerBackgroundImage) {
			$halfHeight: (image-height($headerBackgroundImage) - 162) / 2;
			$ceilHalfHeight: ceil($halfHeight);
			padding-top: $ceilHalfHeight;
			@if($ceilHalfHeight != $halfHeight) {
				$ceilHalfHeight: $ceilHalfHeight - 1;
			}
			padding-bottom: $ceilHalfHeight;
		}
	}
	.logo-container {
		display: table;
		vertical-align: middle;
		> * {
			display: inline-block;
			vertical-align: middle;
		}
		.logo {
			height: 120px;
		}
		.separator{
//			border-left: 1px solid $headerLogoLeftBorderColor;
			height: 65px;
			margin: 0 20px;
			&:before,&:after {
				content: '';
				display: block;
				width: 1px;
				height: 65px;
				float: left;
				@include rgba-background(rgba(0,0,0,0.1));
			}
			&:after {
				@include rgba-background(rgba(255,255,255,0.2));
			}
		}
		h1, h2, h3 {
			color: #ffffff;
			font-size: 34px;
			font-style: italic;
			font-weight: 900;
			vertical-align: middle;
			line-height: 30px;
			text-transform: normal;
			border-bottom: none;
			box-shadow: none;
			margin: 0;
			padding: 0;

			width: $headerTitleWidth;

			a {
				display: inline-block;
				font-size: 32px;
				font-weight: 700;
				word-wrap: break-word;
				text-transform: none;
				font-family: $baseFontFamily;
				color: $headerTitleColor;

				@if $headerLogoImage {
					// border
				} @else {
					// padding
				}

				&:hover {
					color: $headerTitleColor;
					text-decoration: none;
				}
			}
		}
		h3,h1 {
			font-size: 12px;
			font-family: $headingsFontFamily;
			color: $headerSubtitleColor;
			width: auto;
			font-weight: normal;
		}
		h1 {
			font-size: 23px;
			font-family: $sansFontFamily;
			font-weight: bold;
		}
		h3 {
			text-transform: uppercase;
			font-style: normal;
			line-height: 20px;
		}

		@if($headerSubtitleLogoImage != null) {
				&.has_subtitle {
					a .logo {
						background: image-url($headerSubtitleLogoImage) no-repeat left center;
						width: image-width($headerSubtitleLogoImage);
						padding: 0;
					}
					.subtitle {
						width: (590px - image-width($headerSubtitleLogoImage));
					}	
				}
		}
	}
}

.pt_BR .header-top .logo-container .logo {
	@if $headerLogoImage {
		background: image-url($headerLogoImagePT) no-repeat center;
		height: 120px;
		width: image-width($headerLogoImagePT);
	} @else {
		color: $headingsColor;
		font-family: $headingsFontFamily; //should be Lato?
		font-size: $fontSizeBig;
		font-style: italic;
		line-height: $fontSizeBig * 1.3;
		margin: 34px 0 0 0;
	}
}

.es_ES .header-top .logo-container .logo {
	@if $headerLogoImage {
		background: image-url($headerLogoImageES) no-repeat center;
		height: 120px;
		width: image-width($headerLogoImageES);
	} @else {
		color: $headingsColor;
		font-family: $headingsFontFamily; //should be Lato?
		font-size: $fontSizeBig;
		font-style: italic;
		line-height: $fontSizeBig * 1.3;
		margin: 34px 0 0 0;
	}
}
@media #{$not-large-screen} {
	.header-top {
		.logo-search-parent {
			margin-bottom: 1px;
		}
		@if($headerBackgroundImage) {
			background: image-url($headerBackgroundImage) no-repeat 30% top;
			@if($headerBackgroundColor) {
				background: $headerBackgroundColor image-url($headerBackgroundImage) no-repeat 30% top;
			}
		}
	}
	.header-top .logo-container.has_subtitle {
		width: 100%;
		.subtitle {
			width: 330px;
		}
	}
}

@media #{$under-480} {
	.header-top {
		.logo-search-parent .logo-container {
			.separator {
				margin: 0 10px;
			}
			h1 {
				font-size: 18px;
				padding-top: 8px;
				line-height: 20px;
			}
			h3 {
				line-height: 15px;
				font-size: 10px;
			}
			h2 a {
				font-size: 28px;
			}
		}
		@if($headerBackgroundUnder480) {
			background: $headerBackgroundUnder480;
		}
	}
	@if ($headerLogoImage) {
		.pt_BR .header-top .logo-container {
			.logo {
				background: image-url($headerLogoImagePTResponsive) no-repeat center;
				width: image-width($headerLogoImagePTResponsive);
			}
			h2 {
				width: (265px - image-width($headerLogoImagePTResponsive));
			}
		}
		.es_ES .header-top .logo-container{
			.logo {
				background: image-url($headerLogoImageESResponsive) no-repeat center;
				width: image-width($headerLogoImageESResponsive);
			}
			h2 {
				width: (265px - image-width($headerLogoImageESResponsive));
			}
		}
	}
}
@media #{$between-351-430} {
	.header-top .logo-search-parent .logo-container {
		
		&.has_subtitle .subtitle {
			width: 220px;
		}
	}
}

@media #{$under-350} {
	.header-top .logo-search-parent .logo-search .logo-container {
		&.has_subtitle .subtitle {
			width: 190px;
		}
	}
}








