*{
	a:hover{
		text-decoration: none;
	}
	&:focus, &:active {
		outline: 0 !important;
		text-decoration: none;
	}	
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type=text]{
	@include box-shadow(inset 1px 1px 6px rgba(0, 0, 0, 0.1));
	@include input-placeholder {
		font-style: italic;
		font-weight: 300;
	}
	border: 1px solid $inputBorder;
	border-radius: 5px;
	-webkit-appearance: none;
	&:focus{
		border: 1px solid $inputBorder;
		@include box-shadow(inset 1px 1px 6px rgba(0, 0, 0, 0.1));
	}
}

button{
	@include box-shadow(inset 1px 1px 1px rgba(255, 255, 255, 0.5));
	@include gradient-vertical($btnBackgroundHighlight, $btnBackground);
	border: 1px solid $btnBorder;
	color: $white;
	border-radius: 5px;
	-webkit-appearance: none;
}