
.header-top .nav-principal .fullspan.span4 .input-append .input-xlarge {
	height: 20px;
	margin-top: 9px;
	margin-bottom: 9px;
}

.header-top .logo-container h2 {
	font-style: normal !important;
}
.nav-principal {
	.nav-hover .dropdown-menu { // Menu L1
		li {
			border-top: 1px solid $navMenuL1BorderTop;
			border-bottom: 1px solid $navMenuL1BorderBottom;
		}
	}
}

.footer-menu .menu-item a {
	font-style: normal !important;
}