// Global Colors
$bodyBackground:					#fbf6f0;
$textColor: 						#3a3a3a !default;
$linkColor:             			#269e9a !default;
$linkColorHover:        			lighten($linkColor, 15%) !default;
$linkAltColor:						#918a7e;

// Forms
$btnBackground:                     #b4ab9d !default;
$btnBackgroundHighlight:            lighten($btnBackground, 10%) !default;
$btnBorder:                         #a59d90 !default;

$inputBorder:						#e0d8cd !default;

// Institucional
$institucionalMainColor: 			#145351;
$asnMainColor: 						#679e68;
$videosMainColor: 					#5b9dc3;
$downloadsMainColor: 				#c16443;
$eventsMainColor: 					#756c84;
$comunityMainColor: 				#269e9a;

// Global Navigation
$globalnavtextColor: 				$linkAltColor;
$globalnavlinkColor:             	$linkAltColor;
$globalnavlinkColorHover:        	$textColor;
$globalnavBackground:				#e8e2d8;
$globalnavAltLinkColor:				#b4ab9d;

// Local Navigation
$localnavLinkColor:             	$linkAltColor;
$localnavLinkColorHover:        	$textColor;
$localnavLinkBackground:			#f3ede2;
$localnavBtnBackground:				#e8e2d8;

// ***************************** //
// ***************************** //
// ***************************** //
// ***************************** //
// ***************************** //

/*** MEDIA QUERIES ***/

// Essas aqui são as criadas pelo Leo
//iphone 4 em pe
$iphone-portrait: "only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait)" !default;
// iphone 4 deitado 
$iphone-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape)" !default;
// ipad em pe
$ipad-portrait: "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)" !default;
// Iphone 5 Landscape 
$iphone5-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape)" !default;
// Galaxy S2 Landscape 
$galaxy-landscape: "only screen and (min-device-width : 480px) and (max-device-width : 800px) and (orientation : landscape)" !default;


// Media queries sugeridas, baseadas no Bootstrap e no Foundation
$medium-screen: "only screen and (min-width: 768px) and (max-width: 979px)";
$small-screen: "only screen and (max-width: 767px)";

$landscape: "screen and (orientation: landscape)";
$portrait: "screen and (orientation: portrait)";

//Nextt
$large-screen: "only screen and (min-width: 979px)";
$not-large-screen: "only screen and (max-width: 979px)";
$under-480: "only screen and (max-width: 480px)";
$between-431-480: "only screen and (min-width: 431px) and (max-width: 480px)";
$between-351-430: "only screen and (min-width: 351px) and (max-width: 430px)";
$under-350: "only screen and (max-width: 350px)";
$under-520: "only screen and (max-width: 520px)";


// *** BOOTSTRAP OVERRIDES *** 

// Tipography
$sansFontFamily: "Lato", Helvetica, Arial, sans-serif !default;
$headingsFontFamily: "Futura Std", Futura, Helvetica, Arial, sans-serif !default;
$headingsColor: #3d5d3d !default;
$footerHeadingsColor: $headingsColor !default;

$baseFontFamily: $sansFontFamily !default;

$baseFontSize: 13px !default;
// *** IASD *** 
$fontSizeSmall: $baseFontSize * 0.85 !default; // ~12px
$fontSizeFooterItems: 12px;
$fontSizeLarger: $baseFontSize * 1.55; // ~20px
$fontSizeBig : $baseFontSize * 2 !default; // ~26px
$fontSizeHuge : $baseFontSize * 3 !default; //~40px

$lighterShadow : rgba(255,255,255,.2) !default;
$linkColorHover: $linkColor !default;

// Header
$headerBackground: #E9E3DA !default;
$headerBackgroundUnder480: $linkColor !default;
$headerBackgroundColor: $headerBackgroundUnder480 !default;
$headerBackgroundImage: null !default;
$headerBackgroundImageAndColor: null !default;

@if($headerBackgroundImage) {
	@if($headerBackgroundColor) {
		$headerBackgroundImageAndColor: $headerBackgroundColor image-url($headerBackgroundImage) no-repeat center top !default;
	}
	$headerBackgroundImageAndColor: image-url($headerBackgroundImage) no-repeat center top !default;	
}

$headerLogoImage: false !default;
$headerSubtitleLogoImage: null !default;
$headerLogoImagePT: $headerLogoImage !default;
$headerLogoImageES: $headerLogoImage !default;
$headerLogoImagePTResponsive: $headerLogoImage !default;
$headerLogoImageESResponsive: $headerLogoImage !default;
$headerTitleWidth: 220px !default;
$headerTitleColor: $headingsColor !default;
$headerSubtitleColor: $headerTitleColor !default;
$headerLogoLeftBorderColor: #fff !default;
$headingsAuxColor: $headerTitleColor !default;

// NavMenu
//$navMenuBackgroundImage: rgba(255, 255, 255, 0.5) !default;

/////Big Fix do Menu

///Menu L0 (menu principal) PENDENTE
$navMenuBackground: rgba(255, 255, 255, 0.4) !default;
$navMenuBackgroundImage: false !default;
@if($navMenuBackgroundImage) {
	$navMenuBackground: image-url($navMenuBackgroundImage) center repeat-y !default;
}

$navMenuInnerBackground: false !default;
$navMenuInnerBackgroundGradientStart: false !default;
$navMenuInnerBackgroundGradientEnd: $navMenuInnerBackground !default;
$navMenuInnerBackgroundActive: false !default;
$mobileNavMenuInnerBackgroundActive: false !default;
@if($navMenuInnerBackground) {
	@if($navMenuInnerBackgroundActive == false) {
		$navMenuInnerBackgroundActive: darken($navMenuInnerBackground, 5%);
	}
}

$navMenuBorderTexture: transparent !default;
$navMenuBorder: $navMenuBorderTexture center no-repeat !default;

$navMenuItemColor: $headingsColor !default;
$navMenuItemColorHover: $linkColor !default;

$navMenuItemBackgroundHover: null !default;
$navMenuItemBackgroundHoverGradientStart: $navMenuItemBackgroundHover !default;
$navMenuItemBackgroundHoverGradientEnd: $navMenuItemBackgroundHoverGradientStart !default;
$navMenuItemBackgroundActive: lighten($navMenuItemColor, 10%) !default;

$navMenuI18NColor: #918a7e !default;
$navMenuI18NColorOpen: #383838 !default;
$navMenuI18NHoverColor: $navMenuItemColor !default;
$navMenuI18NHoverColorOpen: #383838 !default;

$navMenuI18NResponsiveColor: #ffffff !default;
$navMenuI18NHoverIcon: false !default;
$navMenuI18NIcon: transparent !default;

$navMenuCurrentItemBackground: false !default;
$navMenuCurrentItemBackgroundGradientStart: false !default;
$navMenuCurrentItemBackgroundGradientEnd: false !default;


//Menu L1 (1o submenu)
$navMenuL1Color: #fbf6f0 !default;
$navMenuL1Background: $linkColor !default;
$navMenuL1BackgroundHover: lighten($navMenuL1Background, 5%) !default;
$navMenuL1BorderTop: lighten($navMenuL1Background, 15%) !default;
$navMenuL1BorderBottom: darken($navMenuL1Background, 5%) !default;

//Deprecated
//$navMenuSubMenuItemColor: $navMenuL1Color
//$navMenuSubMenuBackground: $navMenuL1Background !default;
//$navMenuSubMenuHoverBackground: $navMenuL1BackgroundHover !default;
//$navMenuSubMenuBackgroundDarken: darken($navMenuSubMenuBackground, 5%) !default;
//$navMenuSubMenuItemHoverColor: $navMenuL1Color !default;


//Menu L2 (2o submenu)
$navMenuL2Background: darken($navMenuL1Background, 10%) !default;
$navMenuL2BackgroundHover: $navMenuL1Background !default;
$navMenuL2BorderTop: darken($navMenuL2Background, 5%) !default; /// Geralmente o L2 do não apresenta borda. Precisa investigar e melhorar


$searchOptionBorderColor: false !default;

///Cores do Menu Responsivo
$mobileNavMenuL0Color: #fbf6f0 !default;
$mobileNavMenuL0Background: $navMenuL1Background !default;
$mobileNavMenuL0BackgroundActive: lighten($navMenuL1Background, 5%) !default;
$mobileNavMenuL0BorderTop: darken($navMenuL1Background, 5%) !default; ///Precisa investigar e melhorar

$mobileNavMenuL1Color: $mobileNavMenuL0Color !default;
$mobileNavMenuL1Background: darken($navMenuL1Background, 5%) !default;
$mobileNavMenuL1BackgroundActive: $mobileNavMenuL1Background !default;
$mobileNavMenuL1BorderTop: darken($navMenuL1Background, 10%) !default; ///Precisa investigar e melhorar

$mobileNavMenuL2Color: $mobileNavMenuL0Color !default;
$mobileNavMenuL2Background: darken($navMenuL1Background, 10%) !default;
$mobileNavMenuL2BackgroundActive: $mobileNavMenuL2Background !default;
$mobileNavMenuL2BorderTop: darken($navMenuL1Background, 15%) !default; ///Precisa investigar e melhorar

// buttons
$navMenuBtnSpacerBorderImage: false !default;
$navMenuBtnSpacerBorderTexture: rgba(darken($navMenuL1Background, 10%), 0.3) !default;
$btnBackground: null !default;
$btnBackgroundGradientStart: null !default;
$btnBackgroundGradientEnd: null !default;

@if($navMenuInnerBackground) {
	$btnBackground: $navMenuInnerBackground !default;
	$btnBackgroundGradientStart: $navMenuInnerBackgroundGradientStart !default;
	$btnBackgroundGradientEnd: $navMenuInnerBackgroundGradientEnd !default;
}
@if($navMenuL1Background) {
	$btnBackground: $navMenuL1Background !default;
	$btnBackgroundGradientStart: $navMenuL1BackgroundHover !default;
	$btnBackgroundGradientEnd: $navMenuL1Background !default;
}
@if($navMenuItemBackgroundHover) {
	$btnBackground: $navMenuItemBackgroundHover !default;
}
@if($btnBackground != 'transparent') {
	@if($btnBackground) {
		$btnBackgroundHighlight: darken($btnBackground, 10%) !default;
	}
}
$navPrincipalBorderColor: null !default;

$btnBorderColor: null !default;
@if($navPrincipalBorderColor) {
	$btnBorderColor: $navPrincipalBorderColor !default;
}
@if($btnBackground) {
	$btnBorderColor: darken($btnBackground, 5%) !default;
}
$btnBorderColor: null !default;

$backToTopColor: #f6f6f0 !default;
$backToTopBackgroundColor: $btnBackground !default;
$backToTopBackgroundGradientStart: $btnBackgroundGradientStart !default;
$backToTopBackgroundGradientEnd: $btnBackgroundGradientEnd !default;
$backToTopBorderColor: $btnBorderColor !default;


// Slider
$sliderActiveItemColor : $linkColor !default;

//npic
$coloredBorderColor : rgba($linkColor, 0.9) !default;

// Footer
$footerBackgroundPattern: false !default;
$footerBackground: #64999f !default;
$footerBackgroundExtra: false !default;
$footerHeadingsColor: $headingsColor !default;
$footerTextColor: $textColor !default;
$footerTextColorHover: $footerHeadingsColor!default;
$footerIASDLogoPTBR: image-url('logo-igreja-footer-pt.png') !default; 
$footerIASDLogoESES: image-url('logo-igreja-footer-es.png') !default;

