
.nav-principal-parent {
	box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.2) inset;
	@if($navMenuBackgroundImage) {
		background: $navMenuBackground;
	} @else {
		@if($navMenuBackground) {
			@include rgba-background($navMenuBackground);
		}
	}
}
@if($navMenuBorder) {
	.nav-principal-parent:before, .nav-principal-parent:after {
		display: none;
		height: 1px;
		width: 100%;
		content: ' ';
		background: $navMenuBorder;
	}
}

.nav-principal {
	@if($navMenuInnerBackground) {
		background: $navMenuInnerBackground;
		@if($navMenuInnerBackgroundGradientStart) {
			@include background-image(linear-gradient($navMenuInnerBackgroundGradientStart, $navMenuInnerBackgroundGradientEnd));
		}
	}

	.dropdown-menu > li > a {
		white-space: normal;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	}


	&.container {
		width: 950px;
	}

	.navbar {
		margin: 0px;
	}

	.navbar-inner {
		border: none;
		background: none;
		box-shadow: none;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		padding: 0;

		.nav.nav-hover {
			.dropdown-backdrop {
				position: static;
			}
			.sub-menu li {
				a {
					padding-top: 5px;
					padding-bottom: 5px;
					text-shadow: none;
				}
			}
			> li {
				padding-bottom: 6px;
				a {
					padding-top: 4px;
					padding-bottom: 3px;
					text-shadow: none;
				}
			}
			.current-menu-item {
				@if($navMenuCurrentItemBackground) {
					background: $navMenuCurrentItemBackground;
					@if($navMenuCurrentItemBackgroundGradientStart) {
						@include background-image(linear-gradient($navMenuCurrentItemBackgroundGradientStart, $navMenuCurrentItemBackgroundGradientEnd));
					}
				}
			}
		}
		li a {
			&:hover, &:active {
				background: transparent;
			}
		}
		.btn-spacer {
			display: none;
			width: 1px;
			height: 40px;
//			margin-top: -1px;
			-webkit-box-shadow: 1px 0px 0px rgba(255,255,255,.2);
			-moz-box-shadow:    1px 0px 0px rgba(255,255,255,.2);
			box-shadow:         1px 0px 0px rgba(255,255,255,.2);
/*			@include rgba-background($navMenuBtnSpacerBorderTexture);
			@if($navMenuBtnSpacerBorderImage) {
				@if($navMenuBtnSpacerBorderImage != 'transparent') {
					background: $navMenuBtnSpacerBorderImage center;
				}
			}*/
			@include rgba-background(rgba(0, 0, 0, 0.1));
			float: right;
		}

		.btn.btn-navbar {
			border: 0;
			margin: 0;
			border-radius: none;
			background: transparent;
			width: 55px;
			height: 40px;
			padding: 0;

			.icon-bar {
				margin-left: auto;
				margin-right: auto;
			}
			.iasd-icons { 
				margin: 0 auto;
				&.i18n {
					width: 35px;
					&:before {
						margin-top: 4px;
					}
				}
			}
		}
	}
	.menu-principal-collapse {
		> ul {
			> li {
				&:first-child a {
					padding-left: 0;
				}
				> a {
					border-right: dotted 1px $navMenuItemColor;
				}
				&:last-child a {
					border: none;
				}
			}
		}
	}
	.nav.nav-hover {
		z-index: 1500;
		padding: 0;

		> .menu-item {
			> a {
				text-transform: uppercase;
				color: $navMenuItemColor;
				font-size: 12px;
				padding: 4px 15px 4px;
				margin-top: 7px;
				&:hover, &:active {
					color: $navMenuItemColorHover;
				}
			}
			

			&.open > a.dropdown-toggle {
				background: transparent;
				color: $navMenuItemColor;
			}

			> .dropdown-menu {
				&:before, &:after {
					border: none;
				}
			}
		}
		.i18n {
			display: none;
		}
	}
	.menu-principal-collapse li.dropdown.open.menu-item {
		> a.dropdown-toggle {
			background: transparent;
			color: $navMenuItemColorHover;
		}
		.open > a.dropdown-toggle {
			background: transparent;
			color: $navMenuL1Color;
		}
	}
	.nav-hover .dropdown-menu { // Menu L1
		list-style: none;
		background: $navMenuL1Background;
		margin: 0;
		padding: 0;
		border: 0;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
		li {
			&.dropdown:before, &.dropdown:after {
				display: none;
			}
			float: left;
			width: 100%;
//			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
			border-top: solid 1px rgba(255, 255, 255, 0.2);
			border-bottom: solid 1px rgba(0, 0, 0, 0.1);
//			border-bottom: solid 1px $navMenuL1BorderTop;
//			border-bottom: 0;
			&:hover {
				background: $navMenuL1BackgroundHover;
			}
			a {
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
				font-weight: 300;
				color: $navMenuL1Color;
				width: 100%;
				display: block;
				padding: 5px 15px;

				&:hover {
					font-weight: 400;
					width: auto;
					background: transparent;
				} 
			}
			&.open {
				a.dropdown-toggle {
					background: transparent;
					color: $navMenuL1Color;
				} 
				
				.dropdown-menu { // Menu L2
					background: $navMenuL2Background;
					li {
						border-top: solid 1px $navMenuL2BorderTop;
						&:hover {
							background: $navMenuL2BackgroundHover;
						}
					}
				}
			}
		}
	}

/*	&.i18n {
		float: right;

		& > a{
			color: $navMenuI18NColor;

			&:before {
				display: inline-block;
				content: ' ';
				vertical-align: middle;
				margin-right: 5px;
			}
		}

		&:hover {
			& > a {
				color: $navMenuI18NHoverColor;
			}
		}

		.sub-menu {
			width: 60px;
			li a{
				width: 28px;
				text-align: center;
			}
		}
	}*/

	.sub-menu, .sub-menu li:last-child, .sub-menu li:last-child a {
		border-radius: 0px 0px 5px 5px;
	}
	.i18n-nav.nav.nav-hover {
		.iasd-icons:before{
			margin-top: 4px;
		}
		.i18n {
			display: block;
		}
		> .menu-item {
			& > a {
				color: $navMenuI18NColor;
				&:hover {
					color: #383838;
				}
			}
			&.open > a.dropdown-toggle {
				color: #383838;
				//color: $navMenuI18NHoverColor; //$navMenuI18NColorOpen;
				&:hover {
//					color: $navMenuI18NHoverColorOpen;
				}
			}


			.sub-menu {
				min-width: 0;
				width: 50px;
				a {
//					width: 50px;
					text-align: center;
				}
			}
		}
	}
	> .menu-item {
		&:first-child a {
			padding-left: 5px;
		}
	}
	.menu-item{

		&:hover > .sub-menu, .sub-menu .menu-item:hover > .sub-menu {
			//display: block;
		}

		.sub-menu {
			width: 210px;
			position: absolute;
			.sub-menu {
				left: 210px;
				top: -1px; //borda superior do LI do pai
			}
		}
	}
	.span4.fullspan {
		position: absolute;
		right: 7px;
		margin-top: -88px;
		.input-xlarge-wrapper {
			float: left;
			width: 100%;
			box-sizing: border-box;
			padding-right: 45px;
		}
		.with-selector .input-append .input-xlarge-wrapper {
			padding-left: 80px;
			.input-xlarge {
				text-indent: 5px;
				padding-left: 0;
				width: 100%;
			}
		}
		.input-append {
			margin: 0;
			width: 100%;
			border-radius: 5px;
			background-color: white;
			border: 1px solid #cccccc;
			
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
			-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
			-o-transition: border linear 0.2s, box-shadow linear 0.2s;
			transition: border linear 0.2s, box-shadow linear 0.2s;
			
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

			.input-xlarge {
				height: 38px;
				padding: 0;
				padding-left: 15px;
				width: 100%;
				border-radius: 0;
				background: transparent;
				border: 0;
				-webkit-transition: none;
				-moz-transition: none;
				-o-transition: none;
				transition: none;

				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			}
			.btn {
				padding-left: 10px;
				padding-right: 10px;
				-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
				-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
				box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);

				@if($btnBackground == 'transparent') {
					margin: 0;
					height: 38px;
					border: none;
				} @else {
					margin: -1px 0 -1px 0;
					height: 40px;
					@if($btnBackgroundHighlight != $btnBackground) {
//                      @include background-image(linear-gradient($btnBackground, $btnBackgroundHighlight));
					}
				}
				@if($btnBorderColor) {
					border: 1px solid $btnBorderColor;
				}
				position: absolute;
				right: -2px;
				border-radius: 0px 5px 5px 0px;
				background: $btnBackground;
				@if($btnBackgroundGradientStart) {
					@include background-image(linear-gradient($btnBackgroundGradientStart, $btnBackgroundGradientEnd));
				}
			}
		}
	}
}
.dropdown {
	& .search-option {
		z-index: 5;
		position: absolute;
		top: 13px;
		left: 6px;
		background: #ffffff;
		padding: 0 12px 0 7px;
		border-right: solid 1px $searchOptionBorderColor;
		font-family: $sansFontFamily;
		font-size: 0.8em;
		width: 50px;
		&:after {
			content: '';
			display: inline-block;
			width: 0; 
			height: 0; 
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 4px solid $linkColor;
			position: absolute;
			right: 8px;
			top: 5px;
		}
		&:focus {
			outline: 0;
			color: $linkColor;
			text-decoration: none;
		}
	}
	& >	.dropdown-menu.search-dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: white;
		margin: 2px 0 0;
		padding: 5px 0;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		z-index: 10000;
		top: 40px;
		left: 8px;
		padding: 10px;
		li label {
			font-family: $sansFontFamily;
			input { display: none;}
		}
		&:before {
			position: absolute;
			top: -7px;
			left: 9px;
			display: inline-block;
			border-right: 7px solid transparent;
			border-bottom: 7px solid #ccc;
			border-left: 7px solid transparent;
			border-bottom-color: rgba(0, 0, 0, 0.2);
			content: '';
		}
		&:after {
			position: absolute;
			top: -6px;
			left: 10px;
			display: inline-block;
			border-right: 6px solid transparent;
			border-bottom: 6px solid #ffffff;
			border-left: 6px solid transparent;
			content: '';
		}
	}
}



@media #{$not-large-screen} {

	.menu-search-collapse.in.collapse {
		overflow: visible;
	}
	.nav-principal {
		&.container {
			padding: 0px;
			width: 100%;
		}
		.menu-search-collapse {
			.row {
				margin-left: 0;
				.span4.fullspan {
					width: 100%;
					display: block;
					margin-left: 0;
					margin-top: 0;
					position: relative;
					right: 0;
					form {
						margin: 0;
						.input-append {
							.input-xlarge {
								width: 94%;
							}
							.btn {
								border-ragius: 0;
							}
						}
					}
				}
			}
		}
		.navbar-inner {
			.btn-spacer {
				display: block;
			}
		}
			
		ul.nav.nav-hover {
			margin: 0;
			> .menu-item {
				&:first-child a {
					padding-left: 30px;
				}
			}
			li.menu-item {
				overflow: auto;
				background: $mobileNavMenuL0Background;
				border-top: solid 1px $mobileNavMenuL0BorderTop;
				border-bottom: none;
				padding-bottom: 0px;
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
				
				li.menu-item {
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
					a {
						padding-top: 9px;
						padding-bottom: 9px;
					}
				}
				a {
					color: $mobileNavMenuL0Color;
					background: none;
					padding-left: 30px;
					margin: 0;
					opacity: 0.7;
					font-weight: 400;
					padding-top: 9px;
					padding-bottom: 9px;
					&:hover {
						color: $mobileNavMenuL0Color;
					}
					&:active {
						color: $mobileNavMenuL0Color;
						border: none;
						border-radius: 0;
						opacity: 1;
					}
				}
				&.open.dropdown, &:active {
					background: $mobileNavMenuL0BackgroundActive;

					> a.dropdown-toggle {
						color: $mobileNavMenuL0Color;
					}
					> a {
						opacity: 1;
					}
				}

				.dropdown-menu { //Mobile Level 1
					width: 100%;
					position: relative;   
					li {
						&.menu-item {
							border-radius: 0;
							background: $mobileNavMenuL1Background;
							border-top: solid 1px $mobileNavMenuL1BorderTop;
							a {
								border-radius: 0;
								padding-left: 40px;
							}
							&.open, &:active {
//								background: $mobileNavMenuL1BackgroundActive;
							}
						}
						.dropdown-menu { // Mobile Level 2
							background: $mobileNavMenuL2Background;
//							border-top: solid 1px $mobileNavMenuL2BorderTop;
							li a {
								border-radius: 0;
								padding-left: 70px;
							}
						}
					}

				}
			}
			ul.sub-menu li.open.dropdown ul.sub-menu {
				left: 0;
				top: 0;
				li > a {
					padding-left: 70px;
				}
			}
			&.i18n-nav > .menu-item{
				border-top: 0;
				> a {
					display: none;
				}
				.dropdown-menu {
					display: block;
					width: 100%;
					> .menu-item {
						background: $mobileNavMenuL0Background;
						a {
							width: auto;
							text-align: left;
							padding-top: 9px;
							padding-left: 30px;
							padding-bottom: 9px;
						}
					}
				}
			}
		}
		.btn-navbar .iasd-icons.i18n {
			color: $navMenuI18NResponsiveColor;
		}
		.btn-navbar .icon-bar {
			//Segue a cor do idioma
			background-color: $navMenuI18NResponsiveColor;
		}
	}
}
@media #{$under-480} {
	.nav-principal {
		.menu-search-collapse {
			.row {
				.fullspan {
					form {
						.input-append {
							.input-xlarge {
								width: 90%;
								height: 40px;
							}
							.btn {
								height: 41px;
							}
						}
					}
				}
			}
		}
		.nav .menu-item a {
			//opacity: 1;
			//font-weight: 300;
		}
	}
}
@media #{$small-screen} {
	.menu-global > .container {
		padding: 0;
	}
}

.sidebar-menu.accordeon {
	.sub-menu.dropdown-menu {

		position: relative;
		float: none;
		border: none;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;

	}
	a {
		background: transparent;

		&:hover {
			text-decoration: none;
		}
	}
}

