
body {
	padding: 0!important;
}
#main-nav {
	display: none;
	margin-top: 0;
}
.header-top {
	min-height: auto;
	.logo-search-parent {
		padding: 1px 0;
	}
}


.nav-principal .navbar-inner .btn.btn-navbar .iasd-icons {
	margin-top: 2px;
}
.nav-principal .span4.fullspan {
	margin-top: -83px;
}
.nav-principal-parent {
	box-shadow: none;
	background: none;
	border: 0;
	&:before, &:after {
		display: none;
	}
	.nav-principal {
		box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
		border: solid 1px $navPrincipalBorderColor;
		border-radius: 5px 5px 0 0;
		font-family: 'Futura Std','Helvetica Neue', Helvetica, Arial, sans-serif;

		.search-text-div {
			margin-right: 4px;
			
			.search-text {
				height: 36px;
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.search-submit-div {
			margin: 0;
			padding: 0;
			-webkit-border-top-left-radius: 0;
			-webkit-border-bottom-left-radius: 0;
			-moz-border-radius-topleft: 0;
			-moz-border-radius-bottomleft: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			background: $navMenuItemColor;
			@if($navMenuInnerBackgroundGradientStart) {
				@include background-image(linear-gradient($navMenuInnerBackgroundGradientStart, $navMenuInnerBackgroundGradientEnd));
			}
			width: 40px;
			height: 36px;
			
			.search-submit {
				background: image-url('lupa-search.png') no-repeat center center !important;
				width: 40px;
				height: 36px;
			}
		}
		.menu-principal-collapse {
			.nav-hover.nav.menu > li {
				box-shadow: 1px 1px 0 rgba(255,255,255,0.2) inset;
				&:active, &.open, &:hover {
					background: $navMenuInnerBackgroundActive;
					a {
						opacity: 1;
					}
				}
			}
			.nav-hover li.dropdown.open.menu-item > a.dropdown-toggle {
				color: $navMenuItemColor;
			}
			.nav-hover.nav.menu li {
//				box-shadow: 1px 1px 0 rgba(255,255,255,0.2) inset;
//				border-top: none;
				padding: 0;
				a, a:hover {
					border-right: solid 1px $navPrincipalBorderColor;
					text-shadow: none;
					color: $navMenuItemColor;
					text-decoration: none;
					margin: 0;
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 15px;
					padding-right: 12px;
				}
				a {
					opacity: 0.7;
					&:hover {
						opacity: 1;
					}
				}
				&.dropdown {
					ul {
						a, a:hover {
							opacity: 1;
						}
					}
					li.open, &.open {
						> a, > a:hover {
							opacity: 1;
						}
					}
				}
				&:last-child a {
					border-right: none;
				}
				&:hover {
					background: $navMenuItemBackgroundHover;
					@if($navMenuItemBackgroundHoverGradientEnd) {
						@include background-image(linear-gradient($navMenuItemBackgroundHoverGradientStart, $navMenuItemBackgroundHoverGradientEnd));
					}
				}
				.sub-menu li { 
						&:hover {
							background: $navMenuL1BackgroundHover;
						}
						a {
							border-top: none;
							font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
							padding: 5px 14px;
							font-weight: 300;
							&:hover{
								font-weight: normal;
						}
						border-top: none;
					}
				}
			}
		}
		.i18n-nav.nav-hover .dropdown {
			.iasd-icons.i18n.dropdown-toggle {
				text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
				color: white;
				opacity: 0.7;
				&:before {
					background: image-url('icon-world.png') no-repeat left center;
				}
				&:hover {
					opacity: 1;
					color: white;
					&:before {
						background: image-url('icon-world.png') no-repeat left center;
//						@if($navMenuI18NHoverIcon) {
	//						background: $navMenuI18NHoverIcon no-repeat left center;
		//				}
					}
				}
			}
		}
	}
}
.back-to-top-container {
	border-top: 3px solid $backToTopBackgroundColor;
}
@media #{$not-large-screen} {
	.nav-principal-parent {
		.nav-principal {
			.menu-principal-collapse {
				.nav-hover.nav.menu > li {
					&:active, &.open, &:hover {
						background: $mobileNavMenuL0BackgroundActive;
						a {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.header-top .logo-container .logo {
		margin-left: 30px;
	}
	.header-top .container.logo-search {
		width: auto;
	}
	.nav-principal-parent .nav-principal {
		border-left: none;
		border-radius: 0;
		border-bottom-width: 0px;
		.menu-principal-collapse .nav.nav-hover.menu li {
//			box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset;
		}
		.menu-principal-collapse .nav.nav-hover.menu li {
			a, a:hover {
				padding-left: 30px;
			}
			.sub-menu li a {
				padding-left: 50px;
			}
		}
		.i18n-nav > .menu-item .sub-menu a {
			width: auto;
			text-align: left;
		}
		.span4.fullspan {
//          height: 37px;
//			margin-top: -81px;
		}
		.search-text-div .search-text {
			margin-bottom: 0;
			border-radius: 0;
		}
		.search-submit-div {
			margin-bottom: 0;
			border-radius: 0;
		}
	}
}
@if($headerBackgroundImage) {
	@media #{$under-480} {
		.header-top {
			background: image-url($headerBackgroundImage) no-repeat center top;
			background: $headerBackground;
		}
	}
}

.footer .iasd-icons {
	display: block;
	$icon: "footer-facebook";
	&.facebook { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-plus";
	&.plus { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-rss";
	&.rss { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-twitter";
	&.twitter { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-youtube";
	&.youtube { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
}

.footer a:hover .iasd-icons {
	display: block;
	$icon: "footer-facebook-hover";
	&.facebook { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-plus-hover";
	&.plus { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-rss-hover";
	&.rss { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-twitter-hover";
	&.twitter { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-youtube-hover";
	&.youtube { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
}



.footer-menu li a:hover {
  color: #3a3a3a!important;
}




