#sticker-portal {
	display: none;
	height: 170px;
	width: 170px;
	position: fixed;
	top: 50%;
	left: 0;
	color: gray;
	margin-top: -85px;
	background-color: rgba(0,0,0,0.8);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: "Futura Std",Futura,Helvetica,Arial,sans-serif;
	font-size: 12px;
	z-index: 9999;
}
#sticker-portal > a {
	background-image: url('/pt/wp-content/plugins/pa-plugin-miscellaneous/static/img/seta_voltar_1.png');
	background-position: 3px 10px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 170px;
	text-indent: -500px;
	display: block;
}

#sticker-portal div {
	background-image: url('/pt/wp-content/plugins/pa-plugin-miscellaneous/static/img/seta_voltar_2.png');
	background-repeat: no-repeat;
	margin-left: 30px;
	padding-top: 30px;
	margin-top: 50px;
}
#sticker-portal div a span {
	color: #FFF;
}
#sticker-portal div a {
	color: gray;
}
#sticker-portal div a:hover {
	color: gray;
}
