@import "iasd-icons/*.png";

.iasd-icons {
	display: block;
	&.i18n {
		&:before{ content: ''; display:block; float: left; @include iasd-icons-sprite(i18n-normal); height: iasd-icons-sprite-height(i18n-normal); width: iasd-icons-sprite-width(i18n-normal); }
		
	}
	&.voltar-ao-topo {
		@include iasd-icons-sprite(voltar-ao-topo); 
		height: iasd-icons-sprite-height(voltar-ao-topo); 
		width: iasd-icons-sprite-width(voltar-ao-topo);
	}
}
.btn-navbar-search {
	.iasd-icons.search{ @include iasd-icons-sprite(arrow-up-white); height: iasd-icons-sprite-height(arrow-up-white); width: iasd-icons-sprite-width(arrow-up-white); margin-left: 30px; }

	&.collapsed .iasd-icons.search { @include iasd-icons-sprite(search-header); height: iasd-icons-sprite-height(search-header); width: iasd-icons-sprite-width(search-header); }
}
.input-append {
	.iasd-icons.search { 
		@include iasd-icons-sprite(search-header);
		height: iasd-icons-sprite-height(search-header);
		width: iasd-icons-sprite-width(search-header);
	}	
}

.open .iasd-icons.i18n:before{ @include iasd-icons-sprite(i18n-hover); }
.btn-navbar {
	.iasd-icons {
		&.i18n {
			&:before{ content: ''; display:block; float: left; @include iasd-icons-sprite(i18n-branco); height: iasd-icons-sprite-height(i18n-branco); width: iasd-icons-sprite-width(i18n-branco); }
			&:hover:before{ @include iasd-icons-sprite(i18n-branco); }
		}
	}
}


.footer .iasd-icons {
	display: block;
	$icon: "footer-white-facebook";
	&.facebook { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 0.7; }
	$icon: "footer-white-plus";
	&.plus { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 0.7; }
	$icon: "footer-white-rss";
	&.rss { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 0.7; }
	$icon: "footer-white-twitter";
	&.twitter { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 0.7; }
	$icon: "footer-white-youtube";
	&.youtube { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 0.7; }
}

.footer a:hover .iasd-icons {
	display: block;
	$icon: "footer-white-facebook";
	&.facebook { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-white-plus";
	&.plus { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-white-rss";
	&.rss { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-white-twitter";
	&.twitter { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
	$icon: "footer-white-youtube";
	&.youtube { @include iasd-icons-sprite($icon); height: iasd-icons-sprite-height($icon); width: iasd-icons-sprite-width($icon); opacity: 1; }
}

