@import "global-nav-map/*.png";
@include all-global-nav-map-sprites;  

.iasd-global_navbar-main{
	border-bottom: 1px solid $white;
	height: 39px;
	.navbar-inner{
		@include box-shadow(none);
		@include gradient-vertical(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
		background-color: $globalnavBackground;
		border-bottom: 1px solid darken($globalnavBackground, 10%);
		height: 38px;
		min-height: 38px;
		.brand{
			margin-left: 0;
			padding: 0;
			text-shadow: none;
			h1{
				color: $globalnavlinkColor;
				font-size: 11px;
				font-weight: 400;
				letter-spacing: 1px;
				margin: 0;
				text-transform: uppercase;
				-webkit-font-smoothing: subpixel-antialiased;
			}
			&:hover{
				h1{
					color: $globalnavlinkColorHover;
				}
			}
		}
		.nav-collapse{
			float: right;
			margin-right: 55px;
		}
		.nav{
			margin: 0;
			li{
				border-bottom: 2px solid transparent;
				height: 37px;
				position: relative;
				&.active{
					a{
						@include box-shadow(none);
						background: transparent;
						color: $globalnavlinkColorHover;
					}
					&.institucional{
						border-color: $institucionalMainColor;
					}
					&.asn{
						border-color: $asnMainColor;
					}
					&.videos{
						border-color: $videosMainColor;
					}
					&.downloads{
						border-color: $downloadsMainColor;
					}
					&.events{
						border-color: $eventsMainColor;
					}
					&.comunity{
						border-color: $comunityMainColor;
					}
					&.more{
						&:after{
							background: url('../img/backgrounds/iasd-bg-global-nav.png') no-repeat 0 0;
							content: '';
							display: block;
							height: 6px;
							width: 10px;
							position: absolute;
							bottom: -3px;
							left: 50%;
							z-index: 3;
							margin-left: -5px;
						}
					}		
				}
				&.more{
					a{
						font-weight: 900;
					}
				}					
				a{
					color: $globalnavlinkColor;
					text-shadow: none;
					&:hover{
						color: $globalnavlinkColorHover;
					}
				}
			}
		}
		.btn-navbar{
			border: none;
			background-color: transparent;
			background-image: none;
			margin: 3px 60px 0 0;
			padding: 10px 0;
			.icon-bar{
				@include box-shadow(1px 1px 0 $white);
				background: $globalnavlinkColor;
			}
		}
	}
}

.iasd-global_navbar-more{
	display: none;
	background: $bodyBackground;
	h2{
		color: $globalnavtextColor;	
		font-family: $headingsFontFamily;
		font-size: 17px;
		font-weight: 400;
		margin: 18px 30px 0 0;
		text-transform: uppercase;
		position: absolute;
	}
	h3{
		color: $globalnavtextColor;	
		font-family: 'Lato';
		font-size: 16px;
		font-weight: 400;
		font-style: italic;
		line-height: 24px;
		margin: 20px 0 0 0;
	}
	a{
		color: $globalnavlinkColor;
		&:hover{
			color: $globalnavlinkColorHover;
		}
	}
	&.open{
		@include box-shadow(0 2px 8px rgba(0, 0, 0, 0.1));		
		display: block;
		padding-bottom: 40px;
		position: relative;
		&:after{
			background: darken($globalnavBackground, 5%);
			content: '';
			display: block;
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
			top: 59px;
		}
		&:before{
			background: $white;
			content: '';
			display: block;
			height: 1px;
			left: 0;
			position: absolute;
			right: 0;
			top: 60px;
		}		
	}
	.nav-tabs{
		border-bottom: none;
		height: 40px;
		margin: 21px 0 0 0;
		overflow: hidden;
		li{
			position: relative;
			a{
				border: none;
				padding-top: 8px;
				padding-bottom: 12px;
				&:hover{
					background: transparent;
				}
			}
			&.active{
				a{
					background: transparent;
					border: none;
					color: $globalnavlinkColor;
					&:hover{
						color: $globalnavlinkColorHover;
					}
				}
				&:after{
					background: url('../img/backgrounds/iasd-bg-global-nav.png') no-repeat 0 -6px;
					bottom: 0;
					content: '';
					display: block;
					height: 6px;
					left: 50%;
					margin-left: -5px;
					position: absolute;
					width: 10px;
					z-index: 3;
				}
			}
			&.hidden-desktop + li{
				margin-left: 60px;
			}			
		}
	}
	.tab-pane{
		margin-top: 20px;
		ul{
			list-style: none;
			margin: 15px 0 0 20px;
			overflow: hidden;
			li{
				@include text-overflow;
				@include box-sizing(border-box);
				color: $globalnavlinkColor;
				float: left;
				margin: 10px 0 0 0;
				padding-right: 20px;
				width: 194px;
				a{
					color: $globalnavAltLinkColor;
					font-style: italic;
					font-weight: 400;
					-webkit-font-smoothing: antialiased;
					&:hover{
						color: $globalnavlinkColorHover;
					}
				}
			}
		}
		&.institutions{
			position: relative;
			ul{
				position: relative;
				li{
					display: block;
					float: none;
					margin: 0;
					width: 260px;
					a{
						display: block;
						height: 25px;
						line-height: 25px;
					}
					ul{
						display: none;
						position: absolute;
						left: 260px;
						top: -20px;
						&.open{
							display: block;
							li.visible-desktop{
								font-weight: 900;
								font-style: italic;
							}
						}
					}
				}
			}
			.map{
				height: 360px;
				position: absolute;
				top: 50px;
				width: 250px;
			}
			.hide_list-link{
				font-style: italic !important;
			}
			.instructions{
				position: absolute;
				&.first-steps{
					background: $bodyBackground url('../img/globalnav_arrow_01.png') no-repeat 0 130px;
					bottom: 0;
					top: 20px;
					left: 500px;
					width: 280px;
					p{
						color: $globalnavAltLinkColor;
						display: block;
						font-size: 16px;
						font-weight: 900;
						font-style: italic;
						height: 160px;
						width: 160px;
						border: 1px dashed $globalnavAltLinkColor;
						border-radius: 50%;
						box-sizing: border-box;
						padding: 50px 25px 0;
						margin: 80px 0 0 80px;
						text-shadow: 1px 1px 0px $white;
						position: absolute;
					}
				}
				&.error{
					bottom: 0;
					top: 20px;
					left: 0;
					width: 310px;
					z-index: 1;
					visibility: hidden;
					cursor: pointer;
					p{
						background: rgb(251, 246, 240);
						background: rgba(251, 246, 240, 0.8);
						color: $globalnavAltLinkColor;
						display: block;
						font-size: 16px;
						font-weight: 900;
						font-style: italic;
						height: 160px;
						width: 160px;
						border: 1px dashed $globalnavAltLinkColor;
						border-radius: 50%;
						box-sizing: border-box;
						padding: 42px 25px 0;
						margin: 60px 0 0 100px;
						text-shadow: 1px 1px 0px $white;
						position: absolute;
					}
					&:before{
						background: url('../img/globalnav_arrow_02.png') no-repeat 0 0;
						content: '';
						display: block;
						position: absolute;
						top: 190px;
						left: 170px;
						height: 52px;
						width: 128px;
						z-index: 2;
					}
					&:after{
						color: $globalnavAltLinkColor;
						content: '×';
						display: block;
						font-size: 25px;
						font-weight: 900;
						position: absolute;
						top: 60px;
						right: 50px;
						height: 12px;
						width: 12px;
					}
					&:hover{
						&:after{
							color: $textColor;
						}
					}
				}
			}
			&:before{
				@include box-shadow(1px 0 0 $white);
				background: darken($globalnavBackground, 5%);
				content: '';
				display: block;
				top: 20px;
				bottom: 0;
				left: 550px;
				position: absolute;
				width: 1px;
			}
		}
	}
}

.search-link{
	@include gradient-vertical(rgba(255, 255 ,255, 0.65), rgba(255, 255 ,255, 0.3));
	display: block;
	height: 38px;
	left: 50%;
	margin-left: 430px;
	position: absolute;
	text-indent: -5000px;
	width: 40px;
	&:after{
		color: $globalnavAltLinkColor;
		content: '\f002';
		display: block;
		font-family: FontAwesome;
		font-weight: normal;
		font-size: 14px;
		font-style: normal;		
		height: 38px;
		line-height: 38px;
		position: absolute;
		width: 40px;
		text-align: center;
		text-decoration: inherit;
		text-indent: 0;
		text-shadow: 1px 1px 0px $white;
		top: 0;
	}
	&:hover{
		&:after{
			color: $globalnavlinkColorHover;
		}
	}
}
.iasd-search-box{
	display: none;
	&.open{
		display: block;
		@include box-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
		form{
			margin: 15px 0;
			overflow: hidden;
			position: relative;
			input[type=text]{
				@include box-sizing(border-box);
				height: 35px;
				padding: 0 80px 0 10px;
				width: 100%;
			}
			button{
				@include box-sizing(border-box);
				border-radius: 0 5px 5px 0;
				height: 35px;
				overflow: hidden;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				width: 70px;
			}
		}
	}
}

@media (max-width: 979px) {

	html.prevent-scrolling, body.prevent-scrolling{
		height: 0;
		position: relative;
		overflow: hidden;
	}
	.iasd-global_navbar-main{
		height: auto;
		&.open{
			background: $bodyBackground;
			bottom: 0;
			position: fixed;
			right: 0;
			left: 0;
			top: 0;
			.nav-collapse{
				bottom: 0;
				left: 0;
				margin: 0 0 0 0;
				overflow-x: hidden;
				overflow-y: auto;
				position: absolute;
				right: 0;
				top: 40px;
				&.collapse{	
					height: auto;
				}
			}
			.nav{
				margin-bottom: 0;
				li {
					border-bottom: 1px solid $white;
					@include box-shadow(inset 0 -1px 0 $globalnavBackground);
					height: 40px;
					line-height: 40px;
					position: relative;
					a{
						@include box-sizing(border-box);
						font-weight: 400;
						margin: 0;
						padding: 0 20px 0 17px;
						&:hover{
							background: none;
						}
					}
					&.active{
						border-bottom-color: $white !important;
						&:after{
							content: '';
							display: block;
							height: 41px;
							left: 0;
							position: absolute;
							top: -1px;
							width: 3px;
						}
						&.institucional:after{
							background: $institucionalMainColor;
						}
						&.asn:after{
							background: $asnMainColor;
						}
						&.videos:after{
							background: $videosMainColor;
						}
						&.downloads:after{
							background: $downloadsMainColor;
						}
						&.events:after{
							background: $eventsMainColor;
						}
						&.comunity:after{
							background: $comunityMainColor;
						}
						&.more:after{
							display: none;
						}						
					}
				}
			}
		}
	}
	.iasd-global_navbar-more{
		background: $bodyBackground;
		bottom: 0;
		left: 0;
		margin-left: 979px;
		overflow-x: hidden;
		overflow-y: auto;
		padding-bottom: 0;
		right: 0px;	
		top: 40px;
		&.open{
			margin-left: 0;
			position: fixed;
			.nav-tabs{
				height: auto;
				margin-top: 0;
				li{
					@include box-shadow(inset 0 -1px 0 $globalnavBackground);
					border-bottom: 1px solid $white;
					color: $globalnavlinkColor;
					height: 40px;
					float: none;
					margin: 0;
					&.active{
						&:after{
							display: none;
						}
					}
					&.hidden-desktop + li{
						margin-left: 0;
					}
					a{
						@include text-overflow;
						padding: 0 20px;
						line-height: 39px;
						border: none;
					}
				}			
			}
			.tab-content{
				background: $bodyBackground;
				bottom: 0;
				margin-left: 979px;
				left: 0;
				overflow-x: hidden;
				overflow-y: auto;
				position: absolute;
				right: 0;
				top: 0;
				&.open{
					margin-left: 0;
					ul{
						margin: 0;
						width: 100%;
						li{
							@include box-shadow(inset 0 -1px 0 $globalnavBackground);
							border-bottom: 1px solid $white;
							color: $globalnavlinkColor;
							height: 41px;
							margin: 0;
							padding: 0 20px;
							width: 100%;	
							a{
								color: $globalnavlinkColor;
								@include text-overflow;
								display: inline-block;
								font-weight: 400;
								font-style: normal;
								line-height: 38px;
								width: 100%;
							}		
						}
					}
				}
				.tab-pane{
					margin-top: 0;
					&.institutions{
						ul{
							li{
								width: auto;
								a{
									height: auto;
								}
								ul{
									background: $bodyBackground;
									bottom: 0;
									display: block;
									left: 0;
									margin-left: 979px;
									overflow-x: hidden;
									overflow-y: auto;
									padding-bottom: 0;
									position: fixed;
									right: 0px;	
									top: 40px;
									&.open{
										margin-left: 0;
									}
								}
							}
						}
						&:before{
							display: none;
						}
					}
				}
			}
			&:before, &:after{
				display: none;
			}
			.container{
				width: 100%;
			}
		}
	}

	.close-more-link, .back-link{
		font-style: italic !important;
	}

	.search-link{
		margin-left: 0;
		left: auto;
		right: 20px;
	}

}

@media (max-width: 767px) {

	.iasd-global_navbar-main{
		&.open{
			.brand{
				margin-left: 20px;
			}
			.btn-navbar{
				margin-right: 80px;
			}
			.search-link{
				margin-right: 20px;
			}
			.nav{
				margin-left: 20px;
			}
		}
	}
	.iasd-search-box{
		margin-left: -20px;
		margin-right: -20px;
		padding: 0 20px;
	}	

}