.iasd-dropdown-navigation{
	.dropdown-toggle{
		@include box-sizing(border-box);
		@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.1), inset 1px 1px 1px rgba(255, 255, 255, 0.5));
		@include gradient-vertical(lighten($bodyBackground, 3%), $bodyBackground);		
		border-radius: 5px;
		border: 1px solid darken($localnavBtnBackground, 5%);
		color: $linkAltColor;
		display: inline-block;
		height: 35px;
		font-weight: 700;
		line-height: 35px;
		padding: 0 10px;
		position: relative;
		width: 340px;
		&:focus{
			text-decoration: none;
		}
		&:after{
			content: '\f078';
			display: block;
			font-family: FontAwesome;
			font-weight: normal;
			font-size: 10px;
			height: 35px;
			line-height: 35px;
			position: absolute;
			right: 0;
			text-align: center;
			text-shadow: 1px 1px 0px $white;
			top: 0;
			width: 35px;
		}
	}
	.dropdown-menu{
		@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.1));
		border: 0;
		border-radius: 0 0 5px 5px;
		margin: 0 0 0 5px;
		overflow: hidden;
		padding: 10px 0 5px;
		width: 330px;
		ul{
			display: block;
			list-style: none;
			margin: 0;
			overflow: hidden;
			width: 330px;
			li{

				h1{
					@include text-overflow;
					color: $localnavLinkColor;
					font-family: $sansFontFamily;
					font-size: 13px;
					font-weight: 900;
					line-height: 25px;
					margin: 0;
				}
				a{				
					@include box-sizing(border-box);
					display: block;
					padding: 0 30px;
					position: relative;
					h2{
						@include text-overflow;
						color: $localnavLinkColor;
						font-family: $sansFontFamily;
						font-size: 13px;
						font-weight: 400;	
						line-height: 25px;
						margin: 0;
					}
					&:after{
						content: '\f105';
						color: $localnavLinkColor;
						display: block;
						font-family: FontAwesome;
						font-weight: bold;
						font-size: 12px;
						height: 25px;
						line-height: 25px;
						position: absolute;
						right: 0;
						text-align: center;
						top: 0;
						width: 25px;
					}
					&.btn, &.btn:hover, &.btn:focus{
						@include box-shadow(inset 1px 1px 1px rgba(255, 255, 255, 0.5));
						@include gradient-vertical(lighten($localnavBtnBackground, 5%), $localnavBtnBackground);
						background-position: 0 0;
						border: 1px solid darken($localnavBtnBackground, 10%);
						border-radius: 5px;
						color: $linkAltColor;	
						font-weight: 900;
						height: 35px;
						line-height: 35px;
						&:after{
							display: none;
						}
					}
				}
				ul{
					@include transition(left, 0.2s);
					background: $white;
					left: 330px;
					padding: 10px 0 5px;
					position: absolute;
					top: 0;
					&.active{
						@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
						left: 0;
						z-index: 1;
					}
					li{
						h3{
							@include text-overflow;
							color: $localnavLinkColor;
							font-family: $sansFontFamily;
							font-size: 13px;
							font-weight: 900;
							line-height: 25px;
							margin: 0;
						}
						a{
							@include text-overflow;
							color: $localnavLinkColor;
							display: block;
							height: 25px;
							line-height: 25px;
							&:after{
								display: none;
							}
						}
						&.heading{
							border-bottom: 1px solid lighten($localnavLinkColorHover, 65%);
							margin-bottom: 10px;
							padding: 0 20px 5px;
							&:hover{
								background: transparent;
							}
						}
					}
				}
				&.heading{
					border-bottom: 1px solid lighten($localnavLinkColorHover, 65%);
					margin-bottom: 10px;
					padding: 0 20px 5px;
					&:hover{
						background: transparent;
					}
				}
				&.back{
					border-top: 1px solid lighten($localnavLinkColorHover, 65%);
					margin-top: 10px;
					padding: 6px 0 0;
					a{
						font-weight: 900;
						&:before{
							content: '\f053';
							color: $linkColor;
							display: block;
							font-family: FontAwesome;
							font-weight: normal;
							font-size: 10px;
							height: 25px;
							line-height: 25px;
							position: absolute;
							left: 5px;
							text-align: center;
							top: 0;
							width: 25px;
						}
					}
					&:hover{
						background: transparent;
						a{
							color: $linkColor;
						}
					}
				}
				&.active{
					a{
						font-weight: 700;
						&:before{
							content: '\f00c';
							color: $linkColor;
							display: block;
							font-family: FontAwesome;
							font-weight: normal;
							font-size: 12px;
							height: 25px;
							line-height: 25px;
							position: absolute;
							left: 5px;
							text-align: center;
							top: 0;
							width: 25px;
						}						
					}
				}
				&.dsa-link{
					border-top: 1px solid lighten($localnavLinkColorHover, 65%);
					margin-top: 10px;
					padding: 10px 10px 5px;
					&:hover{
						background: transparent;
					}	
				}
				&:hover{
					background: $localnavLinkBackground;
				}
			}
		}
	}
}