
.footer 

footer, .footer {
	padding: 0;
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,.2);
	margin-top: 50px;
	background: $footerBackgroundPattern;

	.fio {
		
	}
	@if ($footerBackground != "transparent"){
		#footer-bg-image{
			background: $footerBackground;
			background-position: top center;
			background-repeat: no-repeat;
		}
	}
	span.iasd-address {
		display: block; margin: 15px 0;
		color: $footerTextColor;
		font-size: 12px;
		span {
			display:inline !important;
			&.skype_pnh_container {display:none !important;}
		}
		a, a:hover {
			color: $footerTextColor;
		}
	}
	h5 {
		font-family: $sansFontFamily;
		color: $footerHeadingsColor; 
		font-weight: normal;
		font-size: 12px;
		text-align: right;
		line-height: $baseFontSize * 1.2;
	}
	p {
		font-family: $sansFontFamily;
		color: $footerHeadingsColor; 
		font-size: 11px;
		line-height: $baseFontSize * 1.2;
	}
	.row > div:last-child {
		text-align: right;
	}

	.container .row {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.pt_BR .copyright-container{
	background-image: $footerIASDLogoPTBR;
}
.es_ES .copyright-container{
	background-image: $footerIASDLogoESES; 
}
.copyright-container{
	background-position: top right;
	background-repeat: no-repeat;
	padding-top: 110px;
	text-align: right;
}



// usado também nos contados de projetos - "encontre-nos"
.social-networks {
	margin-top: 20px;

	li {
		display: inline-block;
		margin-left: 5px;
	}
}
.footer-menu{
	h4 {
		font-family: $headingsFontFamily;
		color: $footerHeadingsColor;
		text-transform: uppercase;
		font-weight: normal;
		font-size: $baseFontSize * 1.1;
	}
	a {
		font-family: $sansFontFamily;
		font-style: italic;
		color: $footerTextColor;
		font-size: $fontSizeFooterItems;
		&:hover {
			text-decoration: none;
			color: $footerTextColorHover;
		}
	}
}
.back-to-top-container {
	margin-top: -3px;
	font-family: $sansFontFamily;
	.back-to-top-wrapper {
		margin: 0 auto;
		.back-to-top {
			display: none;
		}
	}
}

footer,.footer {
	.span2.footer-menu {
		ul li {
			margin-bottom: 4px;
			a {
				line-height: 15px;
				display: inline-block;
			}
		}
	}
}

@media #{$not-large-screen} {
	.back-to-top-container {
		border-top: 3px solid $backToTopBackgroundColor;
		.back-to-top-wrapper {
			.back-to-top {
				display: block;
				float: right;
	//			margin-right: 30px;
				width: 90px;
				height: 45px;
				box-sizing: border-box;
				margin-top: -45px;
				background: $backToTopBackgroundColor;
				border-radius: 5px 5px 0 0;
				border: 1px solid $backToTopBorderColor;

				-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
				-moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
				box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3);
//				@include rgba-background($navMenuBtnSpacerBorderTexture);

				background: $backToTopBackgroundColor;
				@if($backToTopBackgroundGradientStart) {
					@include background-image(linear-gradient($backToTopBackgroundGradientStart, $backToTopBackgroundGradientEnd));
				}

				a {
					color: $backToTopColor;
					display: block;
					font-size: 12px;
					line-height: 13px;
					margin: 0 5px;
					margin-top: 8px;
					text-decoration: none;
					.iasd-icons.voltar-ao-topo {
						padding: 0 3px;
						float: left;
						margin-left: 3px;
					}
				}
			}
		}
	}
	footer, .footer {
		.span2.footer-menu {
			display: none;
		}
		.span4 {
			width: 100%;
			&.copyright-container {
				background-position: center top;
				text-align: center;
				h5, .iasd-address, p, .social-networks {
					text-align: center;
				}
			}
		}
	}
}

@media #{$medium-screen} {
	footer,.footer {
		.span2.footer-menu {
			ul li {
				margin-bottom: 6px;
				a {
					line-height: 15px;
					display: inline-block;
				}
			}
		}
	}
}

//Wordpress
img#wpstats{width:0px;height:0px;overflow:hidden;}


