// O background com gradiente e borda
// Dependendo de onde vem, tem um box-shadow interno ou n
@mixin menu-background($inlineShadow: true) {
	@include gradientBar($btnBackground, $btnBackgroundHighlight);
	border: 1px solid $btnBackgroundHighlight;

	@if $inlineShadow {
		@include box-shadow(inset 0 1px 1px 0 $lighterShadow);
	} @else {
		@include box-shadow(inset 0 1px 1px 0 $lighterShadow);
	}

}


// A setinha indicadora do submenu
@mixin submenu-icon() {
	display: block;
	height: 11px;
	width: 16px;
	background: url(../img/seta-submenu.png) no-repeat;
	content: ' ';
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
}

.main-header > nav {

	.container {
		@include border-radius(4px 4px 0 0);
		@include menu-background(false);
		margin-bottom: -1px;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

		> .nav-collapse.collapse {
			@include transition(none);	

			.main-menu {
				display: table;
				margin-bottom: 0px;
				width: 100%;

				//any item on menu
				.menu-item {
					float: left;
					display: inline-block;
					position: relative;

					&:first-child {
						border-left: 0;
					}

					a {
						display: block;
						font-family: $headingsFontFamily;
						color: rgba(#fff,.8);
						padding: 12px;

						&:hover {
							color: #fff;
							text-decoration: none;
						}

					}

					&.i18n {
					border-right: 0;
					float: right;

						& > a:before {
							display: inline-block;
							content: ' ';
							width: 16px;
							height: 16px;
							background: url(../img/icon-world.png) no-repeat;
							vertical-align: middle;
							margin-right: 5px;
						}

						.sub-menu li a {
							width: 28px;
							text-align: right;
						}
					} 

					&:hover > .sub-menu {
						display: block;
					}


					//any submenu
					.sub-menu {
						@include border-radius(0 0 4px 4px);
						background: darken($btnBackground, 20%);
						position: absolute;
						display: none;
						top: 0px;
						left: 135px;
						z-index: 10;

						.has_children > a:after {
							@include submenu-icon;
						}

						.menu-item  { 

							a {
								color: rgba(#fff,.8);
								display: block;
								font-family: $sansFontFamily;
								font-weight: 300;
								padding: 5px 15px;
								width: 130px;

								&:hover {
									color: #fff;
									background: $btnBackgroundHighlight;
									font-weight: bold;
								}

							}

						}

					}

				}

				// only first level menu (horizontal bar)
				& > .menu-item {

					& > a {
						@include box-shadow(inset 1px 1px 1px 0 $lighterShadow);
						border-left: 1px solid darken($btnBackgroundHighlight,5); 
						font-size: 12px;
						text-transform: uppercase;

						&.current-menu-item {
							@include gradientBar(saturate(lighten($btnBackground, 5), 3), saturate(lighten($btnBackgroundHighlight, 5), 3));
						}

						&:hover {
							@include gradientBar($btnBackgroundHighlight, darken($btnBackground, 20%));
						}

					}

					// only first level submenu
					& > .sub-menu {
						top: 44px;
						left: -24px;
						
						> li {
							
							&:last-child > a {
								@include border-radius(0 0 4px 4px);
							}

							> a {
								@include box-shadow(inset 0 1px 1px 0 $lighterShadow);
								border-top: 1px solid darken($btnBackgroundHighlight,13); 
							}

						}

						// Only 3rd level submenu
						.sub-menu {
							@include border-radius(0 4px 4px 4px);
							@include box-shadow(inset 10px 0px 10px -10px rgba(0,0,0,.3));
							padding: 5px 0;

							li {

								a {
									font-style: italic;
									padding: 2px 12px;
								}

							}
							
						}

					}

				}

			}

		}

	}

}

@media #{$medium-screen} {
	
	.main-header > nav {
		@include menu-background;
		
		.container {
		@include border-radius(0);
		background: none;
		border: 0;
		
			> .nav-collapse.collapse {
				@include transition(height 0.35s ease);
				overflow: visible;
		
				.main-menu {

					& > .menu-item {

						& > a {
							font-size: 11px;
							padding: 8px;
						}

						// only first level submenu
						& > .sub-menu {
							top: 36px;

						}

					}

				}

			}

		}

	}

}

@media #{$small-screen} {
	
	.main-header > nav {
		@include menu-background;
		margin-top: 15px;
		
		.container {
			@include border-radius(0);
			background: none;
			border: 0;
			padding: 0;
			position: relative;

			// @TO-DO
			// Faltou o icone
			// Admito que apareceu uma preguicinha de abrir o photoshop
			> button {
				@include box-shadow(none);
				background: none;
				border: 0;
				color: #fff;
				font-family: $headingsFontFamily;
				padding: 10px 12px;
				text-align: left;
				text-shadow: none;
				text-transform: uppercase;
				width: 100%;
			}
		
			> .nav-collapse.collapse {
				@include transition(height 0.35s ease);

				.main-menu {

					//any item on menu
					.menu-item {
						display: block;
						float: none;

						a {
							@include box-shadow(inset 0 1px 1px 0 $lighterShadow);
							border-left: 0;
							border-top: 1px solid darken($btnBackgroundHighlight,5); 

							&:hover {
							}

						}

						&.i18n {
							// @TO-DO
							// A Sil n previu como vai ficar esse seletor
							// Dependendo de como for, vai ser uma alteracaozinha maior no html
							// Podemos deixar ele escondido no mobile até decidir? 
							display: none;
						} 

						&.has_children > a:after {
							@include submenu-icon;
						}


					}

				}

			}

		}

	}

}




	

//@media (max-width: 979px) {
	// .menu-asn .container {
	//   padding: 0px;
	//   border-radius: 0;
	// }
	// .menu-asn button {
	//   display: block;
	//   font-family: 'Futura Std';
	//   font-size: 12px;
	//   text-transform: uppercase;
	//   color: #3d5d3d;
	//   background: none;
	//   border: 0px;
	//   box-shadow: 0px 0px 0px;
	//   text-shadow: 0px 0px 0px;
	//   position: relative;
	//   padding: 10px;
	//   transition: left 1s;
	//   -moz-transition: left 1s;
	//   /* Firefox 4 */
	
	//   -webkit-transition: left 1s;
	//   /* Safari and Chrome */
	
	//   -o-transition: left 1s;
	//   /* Opera */
	
	//   margin-left: 15px;
	// }
	// .menu-asn button:hover {
	//   background: none;
	//   color: #609361;
	// }
	// .menu-asn button span {
	//   display: inline-block;
	//   height: 20px;
	//   width: 20px;
	//   background: url(../img/menu-collapsed-mobile.png) no-repeat;
	//   margin-left: 6px;
	//   position: absolute;
	// }
	// .menu-asn button.collapsed span {
	//   background: url(../img/menu-open-mobile.png) no-repeat;
	// }
	// .menu-asn .menu-hidden-mobile {
	//   left: -200px;
	// }


	// .menu-asn .menu-asn-inner { width: 100%;}
	// .menu-asn .menu-asn-inner > li {
	//   display: block;
	//   float: none;
	//   border: none;
	//   border-top: solid 1px #436744;
	//   background: #679e68;
	// }
	// .menu-asn .menu-asn-inner > li > a:after {
	//   content: " ";
	//   background: url(../img/sprite1.png) no-repeat -42px -100px;
	//   display: inline-block;
	//   width: 6px;
	//   height: 10px;
	//   float: right;
	//   margin-top: 5px;
	// }
	// .menu-asn .menu-asn-inner > li.parent-li > a:after {
	//   display: none;
	// }
	// .menu-asn .menu-asn-inner > li.parent-li > a:before {
	//   content: " ";
	//   background: url(../img/seta-voltar-menu-mobile.png) no-repeat;
	//   display: inline-block;
	//   height: 20px;
	//   width: 20px;
	//   margin-bottom: -5px;
	//   margin-right: 5px;
	// }
	// .menu-asn .menu-asn-inner .menu-item {
	//   padding-right: 0px;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu {
	//   top: 0px;
	//   left: 0px;
	//   width: 100%;
	//   z-index: 1;
	//   margin: 0px;
	//   border-radius: 0px;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu li {
	//   padding: 0px;
	//   margin: 0px;
	//   border-top: #436744;
	//   border-bottom: 0;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu li a {
	//   padding: 10px;
	//   display: block;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu li:hover {
	//   background: none;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu li:hover > a {
	//   color: #ffffff;
	//   text-decoration: none;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu ul.sub-menu {
	//   left: 0px;
	//   background: #679e68;
	//   box-shadow: none;
	//   border-radius: 0px;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu ul.sub-menu li {
	//   border-top: solid 1px #46ACA9;
	//   border-bottom: solid 1px #228C89;
	//   padding: 0px;
	//   margin: 0px;
	// }
	// .menu-asn .menu-asn-inner .menu-item > ul.sub-menu ul.sub-menu li a {
	//   color: #ffffff;
	//   padding: 10px;
	//   display: block;
	// }
	// .menu-asn .menu-asn-inner .menu-item:active ul.sub-menu {
	//   /*position: relative;*/
	
	//   width: auto;
	//   border-radius: 0px;
	// }

	// .parent-ul > li {
	//   display: none !important;
	// }
	// .parent-ul > li.parent-li {
	//   display: block !important;
	//   background: #3d5d3d !important;
	// }
	// .parent-ul > li.parent-li a {
	//   color: #82b884;
	// }
	// .child-ul {
	//   display: block !important;
	// }
	// .child-ul > li.parent-li {
	//   border-top: solid 1px #104341 !important;
	//   border-bottom: solid 1px #0D3534 !important;
	// }
	// .child-ul > li.parent-li > a {
	//   font-family: 'Futura Std' !important;
	//   color: #679e68 !important;
	//   font-weight: normal !important;
	//   font-size: 12px !important;
	//   text-transform: uppercase;
	//   padding: 12px !important;
	//   width: 100% !important;
	// }
	// .child-ul > li > a:after {
	//   content: " ";
	//   background: url(../img/sprite1.png) no-repeat -42px -100px;
	//   display: inline-block;
	//   width: 6px;
	//   height: 10px;
	//   float: right;
	//   margin-top: 5px;
	// }
	// .child-ul > li.parent-li > a:after {
	//   display: none;
	// }
	// .child-ul > li.parent-li > a:before {
	//   content: " ";
	//   background: url(../img/seta-volta-menu-mobile.png) no-repeat;
	//   display: inline-block;
	//   height: 20px;
	//   width: 20px;
	//   margin-bottom: -5px;
	//   margin-right: 5px;
	// }
	// .grandparent-li > a {
	//   display: none !important;
	// }

		
//}