@mixin npic-figure-and-caption($figcaptionBottom, $isOverflowHidden: false){
  figure {
    margin: 0px;
    position: relative;

    @if ($isOverflowHidden){
      overflow: hidden;
    }
  }
  figcaption {
    font-family: $headingsFontFamily;
    font-size: 10px;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(180, 171, 157, 0.85);
    position: absolute;
    bottom: $figcaptionBottom; //10px
    padding: 3px;
    font-style: normal;

    &:after {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 13px 0 13px 8px;
      border-color: transparent transparent transparent rgba(180, 171, 157, 0.85);
      position: absolute;
      right: -8px;
      top: 0px;
    }
  }
}

@mixin npic-link($fontSize: $baseFontSize){
  color: $textColor;
  display: block;
  font-size: $fontSize;
  font-family: $baseFontFamily;
  font-style: italic;
  font-weight: bold;    
  line-height: $fontSize + 2;
}
  

@mixin npic-p {
  font-family: $baseFontFamily;
  color: $textColor;
  font-size: $baseFontSize;
  line-height: $baseFontSize + 2;
}




/* pic4 */
.n-pic4-vert{

  //$figcaptionBottom: 10px
  @include npic-figure-and-caption(10px);
  
  a {
    @include npic-link($fontSizeLarger);
    margin-top: 15px;
  }
  
  img {
    border-radius: 5px;
    border-bottom: solid 5px rgba(103, 158, 104, 0.9);
  }
}
/* pic2 */
.n-pic2-vert {
  margin-bottom: 20px;

  @include npic-figure-and-caption(10px);

  img {
    border-radius: 3px;
    border-bottom: solid 5px rgba(103, 158, 104, 0.9);
  }
  
  a {
    @include npic-link(14px);
    margin-top: 10px;
  }

  .arrow-right {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 13px 0 13px 8px;
    border-color: transparent transparent transparent #007bff;
    position: relative;
  }
}

/* pic1 */
.n-pic1-hor {
  margin-bottom: 15px;

  &:first-child {
    margin-top: 20px;
  }
  img {
    float: left;
    border-radius: 3px;
    margin-right: 10px;
    border-right: solid 3px rgba(103, 158, 104, 0.9);
    width: 20%;
  }
  
  a {
    @include npic-link();
  }
}

/* nopic */
.n-nopic {
  border-bottom: dashed 1px #bcb3a6;
  position: relative;
  padding-top: 8px;
  margin-bottom: 20px;

  h5 {
    font-family: 'Futura Std';
    font-size: 10px;
    text-transform: uppercase;
    color: #b4ab9d;
    margin: 5px 0px;
    background: #f6f6f0;
    margin-top: 0px;
    display: inline-block;
    position: absolute;
    top: -12px;
    padding-right: 5px;
    font-weight: normal;
  }

  a{ 
    @include npic-link();
    margin-bottom: 10px; 
  }
}

/* n-count */
.n-count {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  color: #b4ab9d;
  list-style: none;
  counter-reset: mais-lidas;

  li {
    border-bottom: dashed 1px #c6bcad;
    padding: 10px 10px 15px 35px;
    position: relative;
    line-height: 16px;
  
    &:last-child {
      border-bottom: none;
    }

    &:before {
      content: counter(mais-lidas);
      counter-increment: mais-lidas;
      display: block;
      position: absolute;
      top: 50%;
      left: 10px;
      height: 20px;
      margin-top: -5px;
      font-family: "Futura Std";
      font-weight: 100;
    }

    a {
      font-size: 13px;
      color: #269e9a;
      font-style: italic;
    }

  }
}


/* n-pic1-article */
.n-pic1-article{
  img {
    float: left;
    border-radius: 3px;
    margin-right: 10px;
    border-right: solid 3px rgba(38, 158, 154, 0.9);
    display: table-cell;
  }
  div {
    display: table-cell;
  }
  
  a { @include npic-link();  }
  p { @include npic-p(); }
}
/* n-pic4-excerpt */


.n-pic4-excerpt{

  img {
    border-radius: 5px;
    border-bottom: solid 5px rgba(103, 158, 104, 0.9);
    margin-bottom: 15px;
  }

  a {
    @include npic-link(20px);
    img {
      font-size: 20px;
      font-style: italic;
      color: #3a3a3a;
      font-weight: bold;
    }
  }
  p {
    @include npic-p();
    margin-top: 15px;
  }
  @include npic-figure-and-caption(25px);
}


/* n-pic2-hor */
.n-pic2-hor {
  border-bottom: dashed 1px #c6beb2;
  padding-bottom: 10px;
  overflow: auto;
  line-height: 18px;

  &:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;

    a {
      margin-top: 10px;
    }
  }

  img {
    width: 50%;
    border-radius: 3px;
    border-top: solid 5px rgba(103, 158, 104, 0.9);
    margin-right: 10px;
    float: left;
  }
  
  a {
    @include npic-link(15px);
    margin-bottom: 15px;
  }
  
  p { @include npic-p(); }

  @include npic-figure-and-caption(-100px);
}
 
/* n-pic3-vert */
.n-pic3-vert{

  ul {
    margin-bottom: 0px;
  }
  li {  
    border-top: dashed 1px #c6beb2;

    &:first-child {
      padding-top: 10px;
      border-top: none;

      img {
        border-radius: 3px;
        border-bottom: solid 5px rgba(103, 158, 104, 0.9);
        max-height: 140px;
      }

      a {
        @include npic-link(16px);
        padding: 0 0 10px;
      }
    }

    &:last-child {
      border-bottom: solid 1px #c6bcad;
      margin-bottom: -1px;
    }

    & > a {
      display: block;
      color: #000000;
      font-style: italic;
      font-size: 13px;
      font-weight: normal;
      margin: 5px 0px;
      line-height: 15px;
      min-height: 30px;
    }
  }

  @include npic-figure-and-caption(15px);

  .more-button {
    padding: 0px;
    font-style: normal;
    color: #ffffff;
    background: #beb6aa;

    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlYjZhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGFiOWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #beb6aa 0%, #b4ab9d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #beb6aa), color-stop(100%, #b4ab9d));
    background: -webkit-linear-gradient(top, #beb6aa 0%, #b4ab9d 100%);
    background: -o-linear-gradient(top, #beb6aa 0%, #b4ab9d 100%);
    background: -ms-linear-gradient(top, #beb6aa 0%, #b4ab9d 100%);
    background: linear-gradient(to bottom, #beb6aa 0%, #b4ab9d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#beb6aa', endColorstr='#b4ab9d', GradientType=0);

    font-size: 12px;
    border-radius: 0px 0px 3px 3px;
    text-align: center;
    display: inline-block;
    padding: 0px 10px;
    border: solid 1px #a59d90;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5) inset;
  }
}
/* n-pic8-highlight */
.n-pic8-highlight {
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  max-height: 300px;

  
  a {
    @include npic-link();
  }
  h4 {
    font-style: italic;
    font-weight: normal;
  }
  p {
    @include npic-p();
    line-height: 18px;
    font-weight: 300;
  }
  img {
    width: 100%;
  }
  .highlight-legend {
    background: rgba(103, 158, 104, 0.9);
    position: absolute;
    bottom: 0;
    left: 0px;
    border-radius: 0px 5px 0px 5px;
    padding: 20px;
    width: 260px;
  }
}

.n-pic2-list {
  padding-top: 20px;
  margin-bottom: 30px;
  border-top: dashed 1px #c6beb2;
  line-height: 16px;

  &:first-child {
    border-top: none;
    padding-top: 0px;
  }
  img {
    border-radius: 3px;
    border-right: solid 5px rgba(103, 158, 104, 0.9);
    float: left;
    margin-right: 15px;
    width: 30%;
  }
  
  a {
    @include npic-link(16px);
  }
  p {
    margin-top: 10px;
    @include npic-p();
  }
  @include npic-figure-and-caption(5px, true);
}

/* n-pic2-link */
.n-pic2-link {
  padding-bottom: 15px;
  font-size: 12px;

  img {
    border-radius: 3px;
    border-top: 0px;
    border-right: solid 5px rgba(103, 158, 104, 0.9);
    float: left;
    margin-right: 15px;
    width: 50%;
  }
  
  a {
    @include npic-link(14px);
  }
}


@media #{$not-large-screen} {
  .n-pic4-excerpt a {
    display: block;
  }
  .n-pic4-excerpt img {
    margin: auto;
    margin-bottom: 15px;
    display: block;
  }
}