.wp-pagenavi {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: right;

  .previouspostslink, .nextpostslink, .first, .last {
    font-family: $baseFontFamily;
    color: $btnBackgroundHighlight; 
    font-size: $baseFontSize; 
    font-style: italic;
    border: 0px;
    background: none;
    box-shadow: none;
  }
  a, .page.smaller {
    background: $btnBackground;
    border-radius: 50%;
    font-size: $fontSizeSmall;
    font-family: $baseFontFamily;
    color: #918a7e;
    border: solid 1px #cec9c0;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) inset, 1px 1px 2px rgba(255, 255, 255, 0.6);
    margin: 0px 2px;
    padding: 6px 10px;
    line-height: 28px;
  }
  .current {
    @include gradientBar($btnBackground, $btnBackgroundHighlight);
    border-radius: 50%;
    font-size: $fontSizeSmall;
    font-family: $baseFontFamily;
    //color: #fbf6f0;
    border: solid 1px $btnBackgroundHighlight;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) inset;
    padding: 6px 10px;
  }

  .extend {
    border: none;
    text-decoration: none;
    padding: 3px 5px;
    margin: 2px;
  }
}
